.botao {
  background:#3e90ed;
  padding:12px;
  width:80px; 
  border:none;
  cursor:pointer;
}

.animeLeft {
  opacity: 0;
  transform: translateY(-20px) scale(.8);
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: initial;
    transform: initial;
  }
}